* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/************************/
/* GENERAL*/
/************************/
.container {
  max-width: 144rem;
  padding: 0 15rem;
  margin: 0 auto;
}

.section {
  margin-bottom: 10rem;
}

.grid {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 2rem;
  /* margin-bottom: 9.6rem; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
}

.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
}

/************************/
/* TYPOGRAPHY*/
/************************/

.heading-primary,
.Header-3-Bold,
.Header-4-Bold,
.Header-7-Bold,
.Body-1-Bold {
  font-weight: 700;
  color: #101316;
  letter-spacing: -0.5px;
}

.Header-4-Regular,
.Header-6-Regular,
.Header-7-Regular,
.Body-1-Regular {
  font-weight: 400;
  color: #101316;
}

.heading-primary {
  font-size: 8rem;
  line-height: 1.375;
  margin-bottom: 3.2rem;
}

.Header-3-Bold {
  font-size: 4rem;
  line-height: 1.4;
}

.Header-4-Bold {
  font-size: 3rem;
  line-height: 1.4;
}

.Header-7-Bold {
  font-size: 1.8rem;
  line-height: 1.66;
}

.Body-1-Bold {
  font-size: 1.6rem;
  line-height: 1.875;
}

.Header-7-Regular {
  font-size: 1.8rem;
  line-height: 1.66;
}

.Header-6-Regular {
  font-size: 2rem;
  line-height: 1.5;
}

.Header-4-Regular {
  font-size: 3rem;
  line-height: 1.4;
}

.Body-1-Regular {
  font-size: 1.6rem;
  line-height: 1.875;
}

.btn:link,
.btn:visited {
  background-color: #1c4e8e;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  padding: 2rem;
  border-radius: 15px;
  border: none;

  transition: background-color 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #163b6b;
  color: #fff;
}

.action-btn {
  background-color: #1c4e8e;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: none;
}

.action-btn:hover,
.action-btn:active {
  background-color: #163b6b;
  color: #fff;
  cursor: pointer;
}

.option-items {
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.option-items:hover,
.option-items:active {
  border-bottom: 1px solid #1c4e8e;
  color: #1c4e8e;
  cursor: pointer;
}
