/* ////////////////////////////////////////////////////----------------------Index PAGE---------------------
////////////////////////////////////////////////// */

/************************/
/* HEADER */
/************************/
.header {
  position: relative;
}

.header-container {
  padding: 1.8rem 15rem 0rem 15rem !important;
  background-color: #a5a9ac1a;
}

.not-main-header-container {
  padding: 1.8rem 15rem 0rem 15rem !important;
  background-color: #fff;
}

.header-first-row {
  display: grid;
  grid-template-columns: 16.3fr 50.1fr 33.6fr;
  gap: 3rem;
  align-items: center;
  margin-bottom: 3rem;
}

.Logo {
  width: 100%;
}

.header-search-box {
  display: flex;
}

.all-select {
  background-color: #fff;
  padding: 1.3rem 1.6rem;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #a5a9ac33;
  border-radius: 10px 0px 0px 10px;
  transition: all 0.3s;
}

.all-select:hover,
.all-select:active {
  color: #1c4e8e;
  cursor: pointer;
}

.search-input-box {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border: 1px;
  border-style: solid;
  border-color: #a5a9ac33;
  padding: 1rem 1.6rem;
}

.search-input-box ion-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #101316;
}

.search-input {
  border: none;
  outline: none;
}

.search-input::placeholder {
  color: #10131633;
}

.search-btn {
  border-radius: 0px 10px 10px 0px !important;
}

.header-icon-container {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.cart-btn {
  background: none;
  border: none;
  position: relative;
}

.cart-btn:hover,
.cart-btn:active {
  cursor: pointer;
  background: none;
  border: none;
}

.number-cart {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.6rem;
  text-align: center;
  background-color: #1c4e8e;
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 0 4.75px;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.log-icon {
  display: none;
}

.header-icon-box ion-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #101316;
}

.login-btn {
  padding: 1rem 2.45rem !important;
}

.login-btn-icon {
  display: none;
}

.header-second-row {
  display: grid;
  grid-template-columns: 28.5fr 71.5fr;
  gap: 3rem;
  align-items: center;
}

.header-categories {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #a5a9ac0d;
  padding: 1.3rem 1.6rem;
  border-radius: 5px 5px 0 0;
}

.header-categories ion-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.categories-select {
  width: 100%;
  border: none;
  background: none;
  transition: all 0.3s;
}

.categories-select:hover,
.categories-select:active {
  color: #1c4e8e;
  cursor: pointer;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #101316;
  font-weight: 400;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #1c4e8e;
}

.nav-shop {
  font-weight: 400;
  font-size: 1.6rem;
  color: #101316;
  border: 0;
  background-color: rgba(255, 255, 255, 10%);
  transition: all 0.3;
}

.nav-shop:hover,
.nav-shop:active {
  color: #1c4e8e;
}

/************************/
/* MOBILE NAV */
/************************/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #101316;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/************************/
/* HERO SECTION */
/************************/
.section-hero {
  margin: 0 auto;
  max-width: 144rem;
  position: relative;
}

.hero {
  max-width: 144rem;
  padding: 0 12.1rem 0 15rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 46.2fr 53.8fr;
  gap: 5rem;
  align-items: center;
  background-color: #a5a9ac1a;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-description {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
  color: #101316;
  margin-bottom: 3.8rem;
}

.hero-img-box {
  padding-top: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img-box::before {
  content: "";
  display: block;
  width: 111.5%;
  padding-bottom: 111.5%;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  z-index: 40;
}

.hero-img {
  width: 99.5%;
  z-index: 50;
}

/* SHAPES */

.Group {
  position: absolute;
  top: 72.238rem;
  left: 8.555rem;
}

.Path {
  position: absolute;
  top: 3.274rem;
  left: 49.941rem;
}

.Path-1 {
  position: absolute;
  top: 48.543rem;
  left: 122.654rem;
}

.Group-1 {
  position: absolute;
  top: 59.35rem;
  left: 52.725rem;
}

.Group-2 {
  position: absolute;
  top: 7.321rem;
  left: 4.296rem;
}

.Group-3 {
  position: absolute;
  top: 60.546rem;
  left: 120.159rem;
}

/************************/
/*SECTION CATEGORIES */
/************************/

.section-categories {
  z-index: 50;
}

.categories-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem !important;
}

.categories-arrow-box {
  display: flex;
  gap: 1rem;
}

.arrow {
  font-size: 2.4rem;
  padding: 2rem;
  background-color: #a5a9ac1a;
  color: #101316;
  border-radius: 10px;
  transition: all 0.3s;
}

.arrow:hover,
.arrow:active {
  background-color: #1c4e8e;
  color: #fff;
  cursor: pointer;
}
.cat-img-box {
  padding: 2.25rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-img-box::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: #a5a9ac1a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.cat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cat-img {
  width: 64%;
}

/************************/
/* SECTION-OFF */
/************************/

.off-post {
  display: flex;
  background-color: #a5a9ac1a;
}

.post-content {
  padding: 3rem 0 5rem 3rem;
}

.tag {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.66;
  background-color: #1c4e8e1a;
  border-radius: 5px;
  color: #1c4e8e;
}

.post-title {
  margin: 1.2rem 0;
}

.post-description {
  margin-bottom: 5rem;
}

.post-img-box {
  display: flex;
  align-self: flex-end;
  width: 44%;
  height: auto;
}

.post-img {
  width: 100%;
}

/************************/
/* SECTION-BESTSELLER & TOPSELLER */
/************************/
.section-topseller,
.section-bestseller {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.topseller-title-box,
.bestseller-title-box {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 5rem;
}

.topseller-tab-heading-container,
.tab-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.1rem;
}

.topseller-tab-heading,
.tab-heading {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.tab-heading-container :last-child {
  width: 10.2rem;
}

.topseller-tab-heading-container :last-child {
  width: 10.2rem;
}

.topseller-tab-heading.active,
.tab-heading.active {
  color: #1c4e8e;
  border-bottom: 1px solid #1c4e8e;
}

.topseller-tab-content,
.tab-content {
  display: none;
}

.topseller-tab-content.active,
.tab-content.active {
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: 36fr 23fr 23fr 23fr;
  gap: 3rem;
}

.gallery-item img {
  width: 87.3%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.gallery-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #a5a9ac1a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.post-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.star-img {
  width: 52%;
}

.el--1 {
  grid-row: 1/3;
  align-items: flex-end;
}

.el--1 h4 {
  justify-self: flex-start;
  align-self: flex-start;
  margin: 3rem 5rem 1rem 3rem;
}

.el--1 p {
  justify-self: flex-start;
  align-self: flex-start;
  margin: 0rem 5rem 2.8rem 3rem;
}

/************************/
/* SECTION-OPPORTUNITY/
/************************/

.opportunity-container {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
}

.opportunity-container img {
  width: 100%;
}

.opportunity-content {
  position: absolute;
  top: 50%;
  left: 11%;
  transform: translate(0, -50%);
  padding: 0 !important;
  width: 30%;
}

.opportunity-btn {
  margin-bottom: 3rem;
}

.opportunity-description,
.opportunity-title {
  color: #fff !important;
}

/************************/
/* SECTION-FEATURE*/
/************************/
.feature-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.feature-icon {
  height: 3.6rem;
  width: 3.6rem;
  margin-bottom: 1.6rem;
  color: #101316;
}

.feature-title {
  margin-bottom: 0.5rem;
}

/************************/
/* SECTION-FOOTER/
/************************/
.footer-container {
  padding: 0 15rem !important;
  background-color: #1c4e8e;
}

.footer-first-row {
  display: grid;
  grid-template-columns: 30fr 12fr 19.5fr 38.5fr;
  gap: 9.9rem;
  padding: 3rem 0 6.4rem 0;
}

.logo-col {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
}

.logo-col img {
  margin-bottom: 2rem;
}

.logo {
  width: 100%;
}

.logo-row {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.footer-icon {
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  color: #fff;
  align-self: flex-start;
  justify-self: flex-start;
}

.logo-row p {
  color: #fff;
}

.information-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.information-col p {
  color: #fff;
}

.service-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-col p {
  color: #fff;
}

.subscribe-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subscribe-col p {
  color: #fff;
}

.input-box {
  width: 100%;
  text-align: center;
}

.input-box form {
  background-color: #a5a9ac1a;
  border-radius: 10px;
  position: relative;
}

.i {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translate(0%, -50%);
  border: none;
  background: none;
  font-size: 2.4rem;
  color: #fff;
}

.input-field {
  display: inline;
  width: 77%;
  border-radius: 10px;
  padding: 1.3rem 1.6rem;
  border: none;
  background: none;
}
.input-field:focus {
  outline: none;
  color: #fff;
}

.input-field::placeholder {
  color: #fff;
}

.btn-subscribe {
  position: absolute;
  top: 50%;
  left: 94%;
  transform: translate(-100%, -50%);
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: end;
}

.btn-subscribe ion-icon {
  color: #fff;
}

.footer-second-row {
  padding: 2rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #a5a9ac33;
}

.mobile-contact {
  display: none;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 2.4px;
  padding: 0.32rem;
}

.right {
  color: #fff !important;
}

.contact {
  display: flex;
  gap: 2rem;
}

/* ////////////////////////////////////////////////////-----------------APPLE_IPHONE_!$PRO-------------------
////////////////////////////////////////////////// */

/************************/
/* SECTION-PRODUCT DETAIL/
/************************/
.product-details-section {
  margin-top: 5rem;
}

.product-details-box {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.path {
  display: flex;
  align-items: center;
}

.path ion-icon {
  padding: 0 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
}

.product-specification-container {
  column-gap: 3rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.details-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a5a9ac0d;
  z-index: 2;
  content: "";
  height: 55.5rem;
  width: 55.5rem;
}

.details-img-box img {
  width: 62.34%;
  z-index: 1;
  position: absolute;
}

.specification-content {
  position: relative;
}

.caption-Regular {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  color: #3cd139;

  padding: 6px 10px;
  background-color: #3cd1391a;
  border-radius: 4px;
  top: 0%;
  left: 86%;
}

.caption {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  color: #3cd139;

  padding: 6px 10px;
  background-color: #3cd1391a;
  border-radius: 4px;
  top: 0%;
  left: 0%;
  display: none;
}

.specification-content h4 {
  margin-bottom: 5px;
}

.reviews p {
  color: #a5a9ac !important;
}

.reviews {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 1.3rem;
}

.spec-price {
  margin-bottom: 1.6rem;
}

.spec-description {
  margin-bottom: 2rem;
}

.spec-color-container {
  gap: 1.4rem;
  margin-bottom: 4.5rem;
}

.spec-color-box {
  display: flex;
  gap: 1rem;
}

.spec-color {
  width: 3.6rem;
  height: 3.6rem;
  border: none;
  border-radius: 4px;
}

.color1 {
  background-color: #bebec6;
  cursor: pointer;
}

.color2 {
  background-color: #304fbe;
  cursor: pointer;
}

.color3 {
  background-color: #101316;
  cursor: pointer;
}

.color4 {
  background-color: #5d30be;
  cursor: pointer;
}

.add-cart-box {
  grid-template-columns: 23.4fr 65.8fr 10.8fr;
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}

.product-nums-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a5a9ac33;
  border-radius: 10px;
}

.product-nums-box ion-icon {
  width: 2.4rem;
  height: 2.4rem;
  padding: 1.6rem 0.8rem;
}

.product-nums-box ion-icon[name="add-outline"] {
  border-left: 1px solid #a5a9ac33;
}

.product-nums-box ion-icon[name="remove-outline"] {
  border-right: 1px solid #a5a9ac33;
}

.product-nums-box p {
  text-align: center;
  padding: 1.3rem 1.7rem;
  border: none;
}

#product-num-minus,
#product-num-plus {
  cursor: pointer;
}

.add-cart-box ion-icon[name="heart-outline"] {
  width: 2.4rem;
  height: 2.4rem;
  padding: 1.6rem;
  background-color: #a5a9ac0d;
  border-radius: 10px;
  border: none;
}

.add-cart-btn {
  background-color: #1c4e8e;
  color: #fff;
  padding: 2rem 0;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: none;
}

.add-cart-btn:hover,
.add-cart-btn:active {
  background-color: #163b6b;
  cursor: pointer;
}

.spec-share-box {
  gap: 8px;
}

.spec-logos-box {
  display: flex;
  gap: 1rem;
}

.spec-logos-box ion-icon {
  height: 2.4rem;
  width: 2.4rem;
  padding: 1.6rem;
  border: 1px solid #a5a9ac33;
  border-radius: 10px;
}

.product-imgs {
  display: flex;
  gap: 2.1rem;
}

.product-imgs-mobile {
  display: none;
}

.product-imgs div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a5a9ac0d;
  z-index: 2;
  content: "";
  height: 12.3rem;
  width: 12.3rem;
}

.product-imgs img {
  width: 39.83%;
  z-index: 1;
  position: absolute;
}

.product-tab-heading-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid #a5a9ac33;
  margin-bottom: 2rem;
}

.product-tab-heading-container h6 {
  padding-bottom: 1.4rem;
}

.product-tab-heading {
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}

.product-tab-heading.active {
  border-bottom: 3px solid #1c4e8e;
  color: #1c4e8e;
  font-weight: 700 !important;
}

.product-tab-content {
  display: none;
}

.product-tab-content.active {
  display: block;
}

.info-cols {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.info-col-1,
.info-col-2 {
  gap: 1rem;
}

.reviews-box {
  gap: 5rem;
}

.customer-reviews {
  gap: 2rem;
}

.review {
  border-bottom: 1px solid #a5a9ac33;
}

.reviewer {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.reviewer-info p {
  margin-bottom: 4px;
}

.review-title {
  margin-bottom: 2px;
}

.review-text {
  margin-bottom: 1rem;
}

.review span {
  color: #a5a9ac;
}

.review-date {
  margin-bottom: 1.62rem;
}

.your-review {
  gap: 2rem;
}

.your-review-fields {
  gap: 3rem;
}

.your-rating {
  gap: 1rem;
}

.your-rate {
  display: flex;
}

.your-rate div:nth-child(1) {
  padding-right: 1rem;
}

.your-rate div:not(:nth-child(1)) {
  padding: 0 1rem;
}

.your-rate div:not(:nth-child(5)) {
  border-right: 1px solid #a5a9ac33;
}

.your-inputs {
  gap: 2rem;
}

.star-box {
  cursor: pointer;
}

.your-inputs textarea,
.your-inputs input {
  width: 100%;
  padding: 1.9rem 1.3rem;
  border: 1px solid #a5a9ac33;
  border-radius: 10px;
}

.your-inputs textarea,
.your-inputs input:focus {
  overflow: hidden;
}
.your-inputs textarea::placeholder,
.your-inputs input::placeholder {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
  color: #a5a9accc;
}

.review-subnit-btn {
  background-color: #1c4e8e;
  color: #fff;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
  padding: 1.3rem 4rem;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: none;

  justify-self: start;
}

.review-subnit-btn:hover,
.review-subnit-btn:active {
  background-color: #163b6b;
  cursor: pointer;
}

/************************/
/* SECTION-RELATED-PRODUCT/
/************************/

.related-products-container {
  gap: 5rem;
}

.related-post-box {
  gap: 3rem;
}

.related-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a5a9ac0d;
  z-index: 2;
  content: "";
  width: 26.2rem;
  height: 33rem;
}

.related-img-box img {
  width: 98%;
  z-index: 1;
  position: absolute;
}

.related-post-item {
  gap: 2rem;
}

.related-content-title {
  margin-bottom: 8px;
}

.related-content-box img {
  margin-bottom: 5px;
}

/* ////////////////////////////////////////////////////----------------------MODALS---------------------
////////////////////////////////////////////////// */

/************************/
/* CART-MODAL/
/************************/

.cart-modal {
  position: absolute;
  background-color: #ffffff;
  padding: 2rem;
  border: none;
  top: 0%;
  left: 100%;
  transform: translateX(-100%);
  width: 35.2rem;
  height: 100vh;

  z-index: 400;
  display: none;

  flex-direction: column;
  justify-content: space-between;

  animation-name: animateright;
  animation-duration: 0.4s;
}

@keyframes animateright {
  from {
    left: 200%;
    opacity: 0;
  }
  to {
    left: 100%;
    opacity: 1;
  }
}

.cart-items-box {
  gap: 3rem;
}

.cart-items {
  gap: 2rem;
}

.cart-item {
  grid-template-columns: 23.17fr 76.83fr;
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #a5a9ac33;
}

.cart-item-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a5a9ac0d;
  width: 100%;
  height: 7rem;
}

.cart-item-img img {
  position: absolute;
}

.cart-item-content :nth-child(1),
.cart-item-content :nth-child(2) {
  grid-column: 1 / -1;
}

.cart-item-content :last-child {
  align-self: center;
  justify-self: end;
  height: 2rem;
  width: 2rem;
  color: #ff7262;
}

.cart-subtotal-container {
  gap: 3rem;
}

.cart-subtotal-btn-box {
  gap: 1rem;
}

.subtotal-price {
  justify-self: self-end;
}

.view-cart-btn {
  background-color: #a5a9ac1a;
  color: #101316;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
  padding: 1.2rem 4rem;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: 1px solid transparent;
  width: 100%;
}

.view-cart-btn:hover,
.view-cart-btn:active {
  border: 1px solid #101316;
  cursor: pointer;
}

.checkout-btn {
  background-color: #1c4e8e;
  color: #fff;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
  padding: 1.2rem 4rem;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: 1px solid transparent;
  width: 100%;
}

.checkout-btn:hover,
.checkout-btn:active {
  background-color: #163b6b;
  cursor: pointer;
}

/************************/
/* LOGIN-MODAL/
/************************/

.close-box {
  position: absolute;
  background-color: #fff;
  position: absolute;
  padding: 0.7rem 0.8rem;
  border-radius: 5px;

  top: 0%;
  left: 100%;
  transform: translate(-100%, -120%);
  z-index: 100;
  border: 1px solid transparent;
}

.close-box:hover,
.close-box:active {
  cursor: pointer;
  border: 1px solid #101316;
}

.close-box ion-icon {
  width: 1.8rem;
  height: 1.8rem;
}
.login-view {
  display: none;
  background-color: #fff;
  position: absolute;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid #a5a9ac33;
  width: 42rem;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.login-signup-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.login-signup-title p {
  color: #a5a9ac;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-bottom: 1rem;
}

.input-form-box {
  gap: 1rem;
}

.input-form-box input[id="name"],
.input-form-box input[id="password"],
.input-form-box input[id="email"] {
  padding: 1.9rem;
  border: 1px solid #1c4e8e;
  border-radius: 10px;
  width: 100%;
}

.input-form-box input[id="name"]::placeholder,
.input-form-box input[id="password"]::placeholder,
.input-form-box input[id="email"]::placeholder {
  color: #101316;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.875;
}

.forget-box {
  display: flex;
  align-items: center;
  gap: 9.8rem;
  padding-left: 0.8rem;
  margin-bottom: 3rem;
}

.checkbox-container {
  display: flex;
  gap: 1.2rem;
}

.forget-btn {
  background: none;
  border: none;
}

.forget-btn:hover,
.forget-btn:active {
  color: #1c4e8e;
  cursor: pointer;
}

.btn-form-box {
  gap: 1rem;
  margin-bottom: 2rem;
}

.log-register-btn {
  background-color: #ffffff;
  color: #1c4e8e;
  padding: 1.9rem 0;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: 1px solid #1c4e8e;
}

.log-register-btn:hover,
.log-register-btn:active {
  background-color: #1c4e8e;
  color: #fff;
  cursor: pointer;
}

.log-login-btn {
  padding: 2rem 0 !important;
}

.login-with:before {
  content: " ";
  display: block;
  height: 1px;
  width: 34%;
  position: absolute;
  top: 50%;
  left: 0;
  background: #a5a9ac33;
}

.login-with {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.login-with:after {
  content: " ";
  height: 1px;
  width: 34%;
  background: #a5a9ac33;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.login-with-btn-box {
  gap: 1rem;
}

.login-with-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #ffffff;
  width: 100%;
  color: #1c4e8e;
  padding: 1.2rem 0;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: 1px solid #a5a9ac33;
}

/************************/
/* SIGNUP MODAL*/
/************************/

.s-close-box {
  position: absolute;
  background-color: #fff;
  position: absolute;
  padding: 0.7rem 0.8rem;
  border-radius: 5px;
  border: 1px solid transparent;

  top: 0%;
  left: 100%;
  transform: translate(-100%, -120%);
  z-index: 100;
  border: none;
}

.s-close-box:hover,
.s-close-box:active {
  cursor: pointer;
  border: 1px solid #101316;
}

.signup-view {
  background-color: #fff;
  position: absolute;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid #a5a9ac33;
  display: none;
  width: 42rem;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  animation-name: animatetop;
  animation-duration: 0.4s;
}

.reg-register-btn {
  background-color: #1c4e8e;
  color: #fff;
  padding: 2rem 0;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: none;
}

.reg-register-btn:hover,
.reg-register-btn:active {
  background-color: #163b6b;
  cursor: pointer;
}

.header-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.login-signup-box {
  width: 100%;
}

/************************/
/* OTP */
/************************/

.otp-close-box {
  position: absolute;
  background-color: #fff;
  position: absolute;
  padding: 0.7rem 0.8rem;
  border-radius: 5px;
  border: 1px solid transparent;

  top: 0%;
  left: 100%;
  transform: translate(-100%, -120%);
  z-index: 100;
  border: none;
}

.otp-close-box:hover,
.otp-close-box:active {
  cursor: pointer;
  border: 1px solid #101316;
}

.otp-view {
  background-color: #fff;
  position: absolute;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid #a5a9ac33;
  width: 42rem;
  display: none;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  animation-name: animatetop;
  animation-duration: 0.4s;
}

.inputfield {
  display: flex;
  gap: 2rem;
}
.input {
  height: 6rem;
  width: 6rem;
  border: 1px solid #dad9df;
  outline: none;
  text-align: center;
  font-size: 2.4rem;
  color: #161010;
  width: 700;
  line-height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  outline: none;
  /*Hide number field arrows*/
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.send-otp-box {
  display: grid;
  gap: 3rem;
}

.send-otp {
  background-color: #1c4e8e;
  color: #fff;
  padding: 2rem 0;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: none;
}

.send-otp:hover,
.send-otp:active {
  background-color: #163b6b;
  cursor: pointer;
}

.input:disabled {
  color: #101316;
}
.input:focus {
  border: 3px solid #1c4e8e;
}

/************************/
/* PASSWORD CHANGE */
/************************/

.success-view {
  display: block;
  background-color: #fff;
  position: absolute;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid #a5a9ac33;
  width: 39.2rem;

  display: none;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  animation-name: animatetop;
  animation-duration: 0.4s;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-circle {
  background-color: #1c4e8e;
  padding: 1.9rem 2rem;
  border-radius: 100%;
  text-align: center;
  position: relative;
  margin: 2.1rem 0 4.1rem 0;
}

.first-circle::before {
  content: " ";
  display: block;
  position: absolute;
  background-color: #1c4e8e33;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 134%;
  padding-bottom: 134%;
  border-radius: 100%;
}

.first-circle::after {
  content: " ";
  display: block;
  position: absolute;
  background-color: #1c4e8e1a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 168%;
  padding-bottom: 168%;
  border-radius: 100%;
}

.first-circle ion-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #ffffff;
}

.success-container {
  gap: 3rem;
}

.success-content-box {
  display: grid;
  gap: 1rem;
  text-align: center;
}

.success-Change-pass-btn {
  background-color: #1c4e8e;
  color: #fff;
  padding: 2rem 0;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: none;
}

.success-Change-pass-btn:hover,
.success-Change-pass-btn:active {
  background-color: #163b6b;
  cursor: pointer;
}
