<div id="otp-view" class="otp-view">
  <button
    id="otp-close-btn"
    class="otp-close-box"
    onclick="popups('otp-view', 'otp-close-btn')"
  >
    <ion-icon name="close-outline"></ion-icon>
  </button>
  <div class="login-signup-box">
    <div class="login-signup-title">
      <h4 class="Header-4-Bold">Enter OTP</h4>
      <p class="Body-1-Regular">
        We have share a code of your registered email address
        kristin.watson@example.com
      </p>
    </div>
  </div>
  <div class="send-otp-box">
    <div class="inputfield">
      <input type="number" maxlength="1" class="input" disabled />
      <input type="number" maxlength="1" class="input" disabled />
      <input type="number" maxlength="1" class="input" disabled />
      <input type="number" maxlength="1" class="input" disabled />
      <input type="number" maxlength="1" class="input" disabled />
    </div>
    <button id="send-otp" class="send-otp">Send OTP</button>
  </div>
</div>