<footer class="footer">
      <div class="container footer-container">
        <div class="footer-first-row">
          <div class="logo-col footer-col">
            <img src="/static/img/Logo + Text.png" alt="Electro Logo" class="logo" />
            <div class="logo-row">
              <ion-icon name="call-outline" class="footer-icon"></ion-icon>
              <p class="Body-1-Regular">(316) 555-0116</p>
            </div>
            <div class="logo-row">
              <ion-icon name="mail-outline" class="footer-icon"></ion-icon>
              <p class="Body-1-Regular">electro@example.com</p>
            </div>
            <div class="logo-row">
              <ion-icon name="location-outline" class="footer-icon"></ion-icon>
              <p class="Body-1-Regular">
                4140 Parker Rd. Allentown, New Mexico 31134
              </p>
            </div>
          </div>
          <div class="information-col footer-col">
            <p class="Body-1-Bold">Information</p>
            <p class="Body-1-Regular">My Account</p>
            <p class="Body-1-Regular">Login</p>
            <p class="Body-1-Regular">My Cart</p>
            <p class="Body-1-Regular">My Wishlist</p>
            <p class="Body-1-Regular">Checkout</p>
          </div>
          <div class="service-col footer-col">
            <p class="Body-1-Bold">Service</p>
            <p class="Body-1-Regular">About Us</p>
            <p class="Body-1-Regular">Careers</p>
            <p class="Body-1-Regular">Delivery Information</p>
            <p class="Body-1-Regular">Privacy Policy</p>
            <p class="Body-1-Regular">Terms & Conditions</p>
          </div>
          <div class="subscribe-col footer-col">
            <p class="Body-1-Bold">Subscribe</p>
            <p class="Body-1-Regular">
              Enter your email below to be the first to know about new
              collections.
            </p>
            <div class="input-box">
              <form>
                <ion-icon name="mail-outline" class="i"></ion-icon>
                <input
                  class="input-field Body-1-Regular"
                  type="text"
                  placeholder="Your Email"
                />
                <button class="btn-subscribe">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </button>
              </form>
            </div>
          </div>
          <div class="mobile-contact">
            <ion-icon name="logo-facebook" class="footer-icon"></ion-icon>
            <ion-icon name="logo-instagram" class="footer-icon"></ion-icon>
            <ion-icon name="logo-twitter" class="footer-icon"></ion-icon>
          </div>
        </div>
        <div class="footer-second-row">
          <div class="companies">
            <div class="company-logo grid grid--5-cols">
              <div class="box">
                <img src="/static/img/Vector.png" alt="logo" />
              </div>
              <div class="box">
                <img src="/static/img/Vector (1).png" alt="logo" />
              </div>
              <div class="box">
                <img src="/static/img/Vector (2).png" alt="logo" />
              </div>
              <div class="box">
                <img src="/static/img/Vector (3).png" alt="logo" />
              </div>
              <div class="box">
                <img src="/static/img/Vector (4).png" alt="logo" />
              </div>
            </div>
          </div>
          <p class="right Body-1-Regular">
            ©2023 Electro All Rights are reserved️
          </p>
          <div class="contact">
            <ion-icon name="logo-facebook" class="footer-icon"></ion-icon>
            <ion-icon name="logo-instagram" class="footer-icon"></ion-icon>
            <ion-icon name="logo-twitter" class="footer-icon"></ion-icon>
          </div>
        </div>
      </div>
    </footer>