<div id="success-view" class="success-view">
  <div class="circle">
    <div class="first-circle">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </div>
  </div>
  <div class="success-container general-grid">
    <div class="success-content-box">
      <h5 class="Header-5-Bold">Password Changed Successfully</h5>
      <p class="Body-1-Regular">
        Your password has been updated successfully
      </p>
    </div>
    <button
      id="success-Change-pass-btn"
      class="success-Change-pass-btn"
      onclick="popups('login-view', 'success-Change-pass-btn')"
    >
      Back to Login
    </button>
  </div>
</div>